body {
  text-align: center;
  background-image: url("back.jpg");
  background-size: cover;
}
h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}
h1:hover{
  font-size: 3.5rem;
  text-decoration: none;
  box-shadow: 3px 3px 20px black;
}
h2{
  font-size: 2rem;
}
h3{
    color: white;
}
h3:hover{
  color: wheat;
}
.card {
  width: 400px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background-color: wheat;

}
.card:hover{
  box-shadow: 20px 0 20px black;
}
#pets {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 100%;
  border-radius: 25px;
  border: 1px solid rgba(0,0,0,0.6);
}

.pets{
  margin: 1rem 0 2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  background-color: crimson;
  color: wheat;
  font-weight: 600;
  box-shadow: 0 0 5px black;
}
button:hover{
  padding: 1rem 2rem;
}
.border{
  border: 1px solid crimson;
  text-align: left;
  font-size: 1.5rem;
  font-family: cursive;
}
ul:hover{
  box-shadow: 0 0 6px black;
}
.heart{
  width: 100%;
  display: flex;
  justify-content: space-around;
  position:absolute;
  bottom: -70px;
}
.heart img{
  width: 50px;
  border: none;
  animation: bubble 7s linear infinite;
}
@keyframes bubble{
  0%{
      transform: translateY(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  70%{
      opacity: 1;
  }
  100%{
      transform: translateY(-80vh);
      opacity: 0;
    }

  }
  .heart img:nth-child(1){
  animation-delay: 2s;
  width: 20px;
  height: 20px;
}
.heart img:nth-child(2){
  animation-delay: 3s;
  width: 40px;
  height: 40px;
}
.heart img:nth-child(3){
  animation-delay: 1.5s;
  width: 25px;
  height: 25px;
}
.heart img:nth-child(4){
  animation-delay: 2.3s;
  width: 30px;
  height: 30px;
  
}
.heart img:nth-child(5){
  animation-delay: 1s;
  width: 60px;
  height: 60px;
}
.heart img:nth-child(6){
  animation-delay: 3s;
  width: 40px;
  height: 40px;
}
.heart img:nth-child(7){
  animation-delay: 2s;
  width: 60px;
  height: 60px;
}

@media(max-width:375px) {
  .card {
    width: 300px;
  }
  .heart{
    bottom:-100px;
  }
  #pets {
    flex-direction: column;
    align-items: space-evenly;
  }
}
